<!DOCTYPE html>
<html>
  <head>
    <title>My Blog Site</title>
  </head>

    <body>

      <h1>My Blog Site</h1>
        <h2>Add Post</h2>
    <div>




    <form action ="/edit/post" method="POST">
      Blog#:
      <input type="text" name="blognum"></input><br>
      Title:
      <input type="text" name="title"></input><br>
      Date:
      <input type="text" name="date"></input><br>
      Author:
      <input type="text" name="author"></input><br>
      Post:
      <textarea name="content" style="width:250px;height:150px; wrap=physical rows="10" cols="2"></textarea>
      <br><input type="submit" value="Submit">
    </form>

  </body>
</html>